#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Centrar el contenido */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f8fa;
  padding: 20px;
}

.profile-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

/* Estilos de la tarjeta de perfil */
.profile-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.profile-item {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

/* Mensaje para cuando no hay usuario loggeado */
.no-user-message {
  font-size: 1.5rem;
  color: #ff6b6b;
  margin-top: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.btn-back {
  background-color: #3b5de6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: #0b45d6;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.credit-simulate-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.credit-simulate-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.credit-simulate-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.credit-simulate-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.credit-simulate-container button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.credit-simulate-container button:hover {
  background-color: #0056b3;
}

.credit-simulate-container .result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.credit-simulate-container .error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.credit-application-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.credit-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.submit-btn {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

.application-history-container {
  padding: 20px;
}

.applications-list ul {
  list-style-type: none;
  padding: 0;
}

.applications-list li {
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafbaa;
  border: 1px solid #000000;
  cursor: pointer;
}

.applications-list li.selected {
  background-color: #8de78d;
  border-color: #000000;     
}

.applications-list li.selected:hover {
  background-color: #98cd80;
}

.applications-list li:hover {
  background-color: #24a9b8aa;
}

.application-details {
  margin-top: 20px;
}

.clickable {
  cursor: pointer;
}
