.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 100px;
  }
  
  p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .logout-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #b0217b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #690446;
  }
  